<div><%= render 'tasks/header'%></div>
<div >
<p style="color: green"><%= notice %></p>
<%= render @task %>
<div class="d-flex">
  <div class="p-1">
  <%= link_to "Edit Task", edit_task_path(@task), class:"btn btn-secondary" %>
  </div>
  <div class="p-1">
  <%= button_to "Delete task", @task, method: :delete , class:"btn btn-secondary"%>
  </div>
</div>
</div>
